include meta

div(class="home")
  a(class="home" href="/") Home

div(class="genre")
  each val, index in genre
    div(class="genre__content")
      span(class="genre__name") #{val['name']}
      span(class="genre__description") #{val['description']}

div(class="main-content" id="main-content")
  each val, index in films
    div(class="film")
      img(
        class="film__img"
        src='images/' + val['image']
        alt=val['name'] + ' poster')
      div(class="film__information")
        span(class="information__name") #{val['name']}
        - var release = val['release_date'].slice(0, 4)
        span(class="information__director") #{val['director']} 
        span(class="information__sub") #{release}, #{val['genre']}
        span(class="information__description") #{val['description']}
        a(class="information__link" href="film?id=" + val['id']) Read more

include footer